*{
	font-family: century gothic;
}

h2{
	font-family: century gothic;
}

h3{
	font-family: century gothic;
}

.truncate{
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.max-lines {
	display: block; /* or inline-block */
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3.6em; /* where max-height = number of lines x line-height*/
	line-height: 1.8em;
  }

.border-box{
	border: 0.5px solid black;
}




/*search box styles start*/

.btn-search {
	background: #816263;
	border-radius: 0;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
	color: #fff;
  }
  .btn-search:active, .btn-search:hover {
	background: #1c1c1c;
	color: #fff;
	transition: 0.7s;
  }

/*search box code ends*/



/*error msg start*/
.errorMsg{
	color: red;
	font-weight: bold;
}
/*error msg end*/


/*Happy shop image*/
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}